body {
    font-size: 14px;
    font-family: Verdana, sans-serif;
    background-color: skyblue;
    margin: 0 ;
    /* padding-bottom: 64px; */
}

h1 {
    font-size: 32px;
    font-weight: normal;
    text-align: center;
    font-family: 'Corben', cursive;
}

button {
    cursor: pointer;
}

#container {
    padding: 20px 20px 210px 20px;
}


li {
    line-height: 2;
}


.text {
    background: yellow;
    border-radius: 8px;
    padding: 16px 24px;
    max-width: 60%;
    line-height: 1.8;
    position: relative;
}

.right-side .text {
    background: #fff;
    cursor: pointer;
}

input[type="text"] {
    outline: none;
    border: none;
    padding: 6px 8px;
    font-size: 14px;
    width: 200px;;
    border-radius: 4px;
}

.login-btn {
    display: flex;
    margin-bottom: 32px;
}

.login-btn > button {
    margin-left: auto;
    padding: 6px;
}

.hidden {
    display: none;
}

#messages {
    margin: 0;
    padding: 0;
    list-style: none;
}

#messages li {
    display: flex;
}

#messages li + li { /* messagesのliの直後のliに反映する */
    margin-top: 32px;
}

li.right-side {
    flex-direction: row-reverse;
}

.text::before {
    content: '';
    width: 0;
    height: 0;
    border: 8px solid transparent;
    position: absolute;
}

.left-side .text::before {
    top: 12px;
    left: -16px; /* border8px *2 */
    border-right-color: yellow;
}

.right-side .text::before {
    top: 12px;
    right: -16px;
    border-left-color: #fff;
}


body form {
    text-align: center;
    width: 100%;
    height: 60px;
    line-height: 60px;
    padding: 30px ;
    margin: 0;
    position: fixed;
    bottom: 0;
    background: skyblue;
}

@media (min-width: 700px) {
    input[type="text"] {
        width: 300px;
    }

}
